@font-face {
    font-family: 'riffic';
    src: url('/src/fonts/riffic/RifficFree-Bold.ttf');
}
@font-face {
    font-family: 'mouse-memoirs';
    src: url('/src/fonts/mouse-memoirs/MouseMemoirs-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    color: white;
}

.title {
    font-family: 'riffic';
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 70px;
}

.container {
    margin-bottom: 50px;
}

.category-btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    font-family: 'mouse-memoirs';
    font-size: 3rem;
    color: white;
    text-decoration: none;
    background: #787878;
    padding: 1rem 3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: .12rem solid #231f20;
}
.btn-bonus      { background-color: #07A2BF; }
.btn-kesempatan { background-color: #2eda00; }
.btn-tantangan  { background-color: #E74C3C; }
.btn:focus {
    outline: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease;
}